<p>
	Have you ever noticed how frequently you visit your favorite websites? Ever had those moments when you just open a new tab of your favorite social media site over and over again? Or maybe you knowingly go there to procrastinate?
</p>

<p>
	This extension is made so you can keep being focused and stop impulsively procrastinating. Our brains love this stuff. Nice and quick release of happy chemicals. But we understand that this slows down our work. And, besides, nothing new got added there in 5 minutes.
</p>

<p>
	<b>DistractOff</b> keeps distractions away and lets you do what's important! Block the websites that you know your brain craves, and keep doing amazing work! But you love those websites and so do I, so it is not permanent. Schedule the days and hours when you're working, or bypass the block temporary when you <i>really</i> need that dose of cat gifs. It's flexible, it's made to give you some time in order to think <i>“do you really need to visit this service right now?,”</i> and make a <i><b>rational</b></i> decision, not an impulsive one.
</p>

<p>
	My name is Dmytro Kalchenko, I made this, and I am procrastinator. I made this extension for myself, but want to share it with all of you magnificent people who might find it helpful.
</p>

<p>
	I am a Software Engineering student from Ukraine, and you can reach me on <a href="https://twitter.com/geekdima">twitter</a> (yeah, I know, ironic 😁) or by emailing me at <a href="mailto:dmytro.v.kalchenko@gmail.com">dmytro.v.kalchenko@gmail.com</a> or by checking my <a href="http://codebite.xyz">website</a>. Feel free to ask about the extension and stuff.

</p>

<p>
	Also, <b>DistractOff</b> is open-source. Feel free to look around, maybe even fork it from my <a href="https://bitbucket.org/redpandaua/distractoff">git repo.</a> This way you can be sure I am not snooping on you or anything!
</p>

<p>If this extension helped you, please consider donating.</p>